{% extends 'base.html.twig' %}

{% block title %}Modifiez le profil !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/profil-page.css') }}" />
{% endblock %}

{% block body %}
    <div class="disp-f al-c j-c-c f-d-c w-50pc h-100pc">
        {{ form_start(form) }}
            <div class="mg-b-10vh disp-f al-c f-d-c">
                <p class="f-s-20px">Quel avatar souhaites-tu ?</p>
                {{ form_row(form.avatar) }}
            </div>
            <div class="mg-t-5vh">
                <label>Email:</label>
                {{ form_row(form.email) }}
            </div>
            <div class="mg-t-5vh">
                <label>Mot de passe:</label>
                {{ form_row(form.ModifPassword) }}
            </div>
            <div class="disp-f mg-t-25vh gap-20px">
                <button class="w-150px btn" type="submit">Modifier le compte</button>
                <a class="btn-a" href="{{ path('app_profil') }}">Voir le profil</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}