{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/play.css') }}" />
{% endblock %}

{% block body %}

    <div class="disp-f al-c f-d-c">
        <h1 class="f-s-title">Voici la plante que tu as trouvé</h1>

        {% for plant in plants %}
            {% for image in plant.images %}
                <img class="b-r-5pc" src='{{ asset("assets/medias/#{image}") }}' width="275" height="175">
            {% endfor %}
            <div class="w-90pc">
                <h1 id="plant-title">{{ plant.name}}</h1>
                <p>{{ plant.descriptionAfter }}</p>
            </div>
        {% endfor %}
        
        <div class="disp-f gap-20px">
            <a class="btn-a" href="{{ path('app_play') }}">Je recommence</a>
            <a class="btn-a" href="{{ path('app_home') }}">Je quitte le jeu</a>
        </div>

        <div id="plant-id" class="display-no"></div>
    </div>

{% endblock %}