{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bonjour j'espère que tu es prêt à chercher </h1>
    <p> Voici la description de la plante à trouver </p>
    {% for plant in plants %}
    <tr>
        <br>
        <div id="plant-id"><td>{{ plant.id}}</td></div>
        <br>
        <td>{{ plant.name}}</td>
        <br>
        <td>{{ plant.description }}</td>
        <br>
    </tr>
    <img class="image" src="{{ asset('assets/medias/pissenlit.jpg') }}"></img>
    {% endfor %}
    
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Take Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    {{ form_start(form) }}
    <div id="latitude" class="display-no"></div>
    <div id="longitude" class="display-no"></div>
    <button type="submit" id="save" class="btn btn-succes" >Valider photo</button>
    {{ form_end(form) }}
</div>

<div id="plant-id" class="display-no"></div>

<script src="https://raw.githubusercontent.com/exif-js/exif-js/master/exif.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>

{% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
        
    {% endblock %}