{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/play.css') }}" />
{% endblock %}

{% block body %}

    <div class="disp-f al-c f-d-c">
        <h1 class="f-s-title">Voici la plante à trouver</h1>

        {% for plant in plants %}
            <img class="b-r-5pc" src="{{ asset(plant.idImage.url) }}" width="275" height="175">
            <div class="w-90pc">
                <h1 id="plant-title">{{ plant.name}}</h1>
                <p>{{ plant.descriptionAfter }}</p>
            </div>
        {% endfor %}
        
        <div class="disp-f gap-20px">
            <a class="btn-a" href="{{ path('app_home') }}">Je recommence</a>
            <a class="btn-a" href="{{ path('app_play') }}">Je quitte le jeu</a>
        </div>

        <div id="plant-id" class="display-no"></div>
    </div>

{% endblock %}