{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}" />
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1 id="before">Bonjour j'espère que tu es prêt à chercher </h1>
        <p id="beforep"> Voici la description de la plante à trouver </p>
        <h1 id="after" class="display-no">Bravo tu as réussi à trouver cette plante </h1>
        <p id="after" class="display-no"> Voici la description de la plante que tu à trouver </p>

        {% for plant in plants %}
            <tr>
                <br>
                <div id="plant-id" class="display-no"><td>{{ plant.id}}</td></div>
                <br>
                <div id="plant-title"><td>{{ plant.name}}</td></div>
                <br>
                <td>{{ plant.description }}</td>
                <br>
                <td><p class="display-no" id="after">{{ plant.DescriptionAfter }}</p></td>
                <img class="image" src="{{ asset(plant.idImage.url) }}" width="300" height="225">
            </tr>
        {% endfor %}
        
        <video id="video" width="300" height="225" autoplay></video>
        <button class="btn" id="snap">Prendre Photo</button>
        <canvas id="canvas" width="300" height="225"></canvas>
        
        <div id="latitude" class="display-no"></div>
        <div id="longitude" class="display-no"></div>
        <h2 id="verif"> Est-ce que tu es sûr que c'est la bonne? N'hésite pas à le faire vérifier !</h2>
        <button type="submit" id="save" class="btn btn-succes"onclick="myFunction()" >Oui je valide la photo</button>
        
        <button type="submit" id="notsave" class="btn btn-succes" ><a href="#snap"> Non je ne valide pas</a></button>
    </div>

    <div id="plant-id" class="display-no"></div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
    <script src="https://raw.githubusercontent.com/exif-js/exif-js/master/exif.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
{% endblock %}