{% extends 'base.html.twig' %}

{% block title %}Bravo !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/play.css') }}" />
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bravo tu as réussi à trouver cette plante </h1>
        <p> Voici la description de la plante que tu à trouver </p>
        {% for plant in plants %}
        <tr>
            <br>
            <td>{{ plant.name}}</td>
            <br>
            <td><p class="after">{{ plant.DescriptionAfter }}</p></td>
        </tr>
        <img class="image" src="{{ asset(plant.idImage.url) }}" width="300" height="225">
        {% endfor %}
        
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
{% endblock %}