{% extends 'base.html.twig' %}

{% block title %}Voici ton profil !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/profil-page.css') }}" />
{% endblock %}

{% block body %}
    <div class="disp-f j-c-c card-s">
        <div class="disp-f al-c f-d-c">
            <img class="mg-t-5vh" src="{{ asset(app.user.avatar) }}" alt="photo de profil" width="200" height="200">
            <p class="l-h mg-t-5vh">Tu as trouvé {{ app.user.iduser|length }} plante{% if app.user.iduser|length > 1 %}s{% endif %}</p>
            <div class="l-h">Email: {{ app.user.email }}</div>
            <div class="l-h">Points d'expérience: {{ app.user.exp | default("0") }}</div>
            <div class="disp-f j-c-c gap-20px mg-t-10vh">
                <a class="btn-a" href="{{ path('app_profil_edit') }}">Modifier mon profil</a>
                {{ include('home/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}