{% extends 'base.html.twig' %}

{% block title %}Voici votre plante{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/showplant.css') }}" />
{% endblock %}

{% block body %}
    <div class="disp-f f-d-c al-c w-80pc">
        <img class="b-r-5pc" src="{{ asset(plant.idImage.url) }}" alt="photo de profil" width="300" height="225">
        <div class="w-100pc">
            <h1>{{ plant.name }} - Niveau {{ plant.level }}</h1>
            <p>{{ plant.description }}</p>
            <p class="mg-t-5vh">{{ plant.descriptionAfter }}</p>
        </div>
        <a class="btn-a" href="{{ path('app_stats') }}">Voir les statistiques</a>
    </div>

{% endblock %}
