{% extends 'base.html.twig' %}

{% block title %}Visionnez vos statistiques !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="{{ asset('assets/styles/stats.css') }}" />
{% endblock %}

{% block body %}
    <div class="title-p">
        <h1 class="f-s-20px">Voici les plantes trouvées</h1>
        <div class="disp-f j-c-c f-w gap-35px">
            {% for find in finds %}
                {% if app.user.id == find.user.id %}
                    {% for plant in plants %}
                        {% if plant.id == find.plant.id %}

                                <a class="txt-d-none black-c" href=stats/{{ plant.id }}><img src="{{ asset("assets/medias/#{plant.images[0]}") }}" alt="image de plantes trouvées" width="100" height="100">
                                <p>{{ plant.name }}</p>
                                <p>Trouvé le {{ find.date.format('d/m/Y') }}</p>
                                </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container-map-p">
        <h1 class="f-s-20px">Voici où tu as trouvé les plantes :</h1>
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script>
        var map = L.map('map').setView([48.1113387, -1.6800198], 12);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        {% for find in finds %}
            {% if app.user.id == find.user.id %}
                L.marker([{{ find.latitude }}, {{ find.longitude }}]).addTo(map)
                    .bindPopup('Rennes, Ille-et-Villaine, France<br>Voici une plante trouvée');
            {% endif %}
        {% endfor %}
    </script>
    
{% endblock %}