<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('assets/medias/icon.png') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ asset('assets/styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/base.css') }}">

    </head>
    <body>
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% if currentPath == "/login" or currentPath == "/register" or currentPath == "/home/" %}
            <div></div>
        {% else %}
            <a href="{{ path('app_home') }}"><img class="home-p" src="{{ asset('assets/medias/home.png') }}" alt="icone home" width="50" height="50"></a>
        {% endif %}

        <main class="disp-f j-c-c al-c w-100pc h-100vh">
            <div class="disp-f bg-c-white card-s j-c-c f-d-c-m al-c relative-p">
                {% block body %}{% endblock %}
            </div>
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
